
body{
	background-color: black;
	background-image: url(../img/background.png);
	background-size: 60dvw;
	overflow: hidden auto;
	margin: 0px;
	height: 120dvh;
	max-height: 200dvw;
	width: 100%;
	padding: 0;
}
body::-webkit-scrollbar {
	display: none;
}
header, footer{
	width: 100%;
	margin: 0%;
	height: 15dvh;
	max-height: 15dvw;
	background: linear-gradient(Black, #5E503f);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 3dvw;
}
header {
	position: sticky;
	top: 0px;
}
.navtext {
	vertical-align: baseline;
	padding: 3dvh 1dvw;
}
nav {
  height: 100%;
	display: flex;
}
ul {
	margin: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	padding: 0;
	display: inline-flex;
}
li {
	margin: auto 3dvw;
	text-decoration: none;
	height: 100%;
}
#logo {
	height: 100%;
}
#drop {
	display: inline;
	position: absolute;
	right: 0;
	margin: 2.5dvh 4dvw;
	height: 100%;
}
#drop img {
	height: 60%;
}
.dropdown-content {
	right: 0;
	display: none;
	position: absolute;
	background: #5E503f;
	z-index: 10000;
	font-size: 2dvh;
	text-align: center;
	text-shadow: 5px 1px 3px white;
	border: 2px solid black;
	margin-right: 0;
}
#drop:hover .dropdown-content {
	display: block;
}
.dropdown-content a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 3dvh 1dvw;
	align-content: end;
}
.dropdown-content a:hover {
	background-color: gray;
}
footer {
	font-size: 100%;
	display: flex;
	width: 90%;
	position: relative;
	height: 5dvh;
	padding: 2dvh 5dvw;
	bottom: 0px;
}
a {
	color: #EAE0D5;
	text-decoration: none;
	text-shadow: 5px 5px 5px black;
}
main {
	background-color: #5E503F;
	padding: 4dvh 2dvw;
	margin: 6dvh 4dvw;
	width: 88dvw;
}
.imgcontainer	{
	background-color: black;
	padding: 4dvh 5dvw;
}
.imgcontainer img	{
	width: 95%;
	height: 60dvh;
	object-fit: contain;
}
.bodycontainer	{
	background-color: #C6AC8F;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large
}
title {
	width: 100px;
	border:  15px solid black;
}