
body{
    background-color: white(88, 108, 137, 0.773);
    background-image: url(../img/floral-dance-seamless.png);
    backdrop-filter: invert(1);
    background-size: 40vw;
    overflow: hidden;
    margin: 0px;
    height: 100dvw;
}

a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
}
nav #Nav {
    width: 100%;
    margin: 0%;
    background-color: whitesmoke;
    background: linear-gradient(whitesmoke, gray);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 3vw;
}
ul {
   margin: 0;
   padding: 0;
   width: 9rem;
   
}    
li {
    color: black;
    display: inline-flex;
    padding: 1vw 5vw;
    text-decoration: none;
}
li:hover {
    
}

.dropdown {
    width: 2vw;
    
}