
body{
    background-color: white(88, 108, 137, 0.773);
    background-image: url(../img/floral-dance-seamless.png);
    backdrop-filter: invert(1);
    background-size: 40vw;
    overflow: hidden;
    margin: 0px;
    height: 100dvw;
}

a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
}
nav #Nav {
    width: 100%;
    margin: 0%;
    height: 5dvw;
    background: linear-gradient(whitesmoke, gray);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 3vw;
}
ul {
   margin: 0;
   padding: 0;
   width: 9rem;
   
}    
li {
    color: black;
    display: inline-flex;
    padding: 1dvw 4dvw;
    text-decoration: none;
}
li:hover {
    
}
a img {
    height: 3.3dvw;
}
.dropdown {
    position: relative;
    display: inline-block;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    right: 0;
    display: none;
    position: fixed;
    background: linear-gradient(gray, rgb(87, 86, 86));
    z-index: 1;
    font-size: 2dvw;
    text-align: center;
    text-shadow: 5px 5px 3px white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}
.dropdown-content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 2dvw 1dvw;
    align-content: end;
}
.dropdown-content a:hover {
    background-color: gray;
}