
body{
    background-color: white;
    background-image: url(../img/floral-dance-seamless.png);
    background-size: 40dvw;
    overflow: hidden auto;
    margin: 0px;
    height: 150dvh;
    width: 100%;
    padding: 0;
    backdrop-filter: invert(1);
    position: relative;
}
body::-webkit-scrollbar {
    display: none;
}
header, footer{
    width: 100%;
    margin: 0%;
    height: 15dvh;
    background: linear-gradient(Black, #5E503f);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 3dvw;

}
nav {
    height: 100%;
}
footer {
    position: absolute;
    bottom: 0px;
    height: 5dvh;
    padding: 2dvh 5dvw ;
}
a {
    color: #EAE0D5;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    bottom: 0;
}
main {
    background-color: #5E503F;
    padding: 4dvh 2dvw;
    margin: 6dvh 4dvw;
    width: 88dvw;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #162227;
    padding: 4dvh 1dvw;
    margin: 2dvh 0 0 0;
}
.grid-item {
    background-color: #C6AC8F;
    padding: 3dvh 5dvw;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 6vmin;
    margin: 20px;
    box-shadow: 3px 3px 20px inset;
}
.slideshow {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    background-color: black;
    padding: 5px;
    overflow: scroll hidden;
    border: 10px solid black;
}
.slideshow::-webkit-scrollbar {
    display: none;
}
.slide {
    width: 300px;
    aspect-ratio: 1 / 1;
}
ul {
  float: right;
   margin: 0;
   height: 100%;
   padding: 0;
   display: flex;
}
li {
    display: inline;
    padding: 0 3dvw;
    text-decoration: none;
    height: 100%;
}
.navText {
  padding: 5dvh 3dvw;
}
a img {
    height: 100%;
    filter: invert(1);
}
.dropdown {
    position: relative;
    display: inline-block;
    
}
li.dropdown {
    height: 100%;
}

.dropdown-content {
    right: 0;
    top: auto;
    display: none;
    position: fixed;
    background: #5E503f;
    z-index: 1;
    font-size: 2dvh;
    text-align: center;
    text-shadow: 5px 1px 3px white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}
.dropdown-content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 3dvh 1dvw;
    align-content: end;
}
.dropdown-content a:hover {
    background-color: gray;
}

